*{
    margin: 0;
    padding: 0;
    font-family: 'Alexandria', sans-serif,Roboto;
}

body{
    background-color: rgb(20, 20, 20);
    background-color: #000000;
    opacity: 1;
    background-image:  radial-gradient(#90002c 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#90002c 0.9500000000000001px, #101010 0.9500000000000001px);
    background-size: 38px 38px;
    background-position: 0 0,19px 19px;
    display: flex;
    flex-direction: column;
}

header{
    padding-left: 10px;
    background: rgb(140,21,29);
    background: linear-gradient(84deg, rgba(140,21,29,1) 0%, rgba(201,41,51,1) 12%, rgba(219,47,58,1) 22%, rgba(219,48,59,1) 38%, rgba(223,70,80,1) 64%, rgba(227,95,104,1) 75%, rgba(237,153,158,1) 89%, rgba(248,213,215,1) 100%);
    width: 100%;
    height: 250px;
    top: 0;
    position: fixed;
    display: flex;
    color: white;
    z-index: 2;
}

.imageContainer{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.imageContainer img{
    width: 370px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-right: 15px;
    margin-left: 20px;
}

.songInfo{  
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.songTitle{
    padding-top: 50px;
    font-size: 70px;
    font-weight: bold;
}

.songArtist{
    padding-left: 10px;
    font-size: 16px;
}

.moreSongInfo{
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    padding-left: 10px;
}

.spanInfoTitle{
    font-weight: bold;
    font-size: 16px;
}

.moreInfos a{
    color: white;
    text-decoration: none;
}

main{
    margin-top: 265px;
    margin-bottom: 20px;
    z-index: 1;
}

.Lyrics{
    color: white;
    margin-left: 30px;
    width: 650px;
}

.LyricsHeader{
    color: #fa6b9b;
    background-image: -webkit-linear-gradient(90deg, #fa6b9b 20%,#f7548b 30%,#e91e63 77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
}

.LyricsMain{
    background-color: rgb(28, 28, 28);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
    font-size: 19px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.LyricsMain p:hover{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: rgb(206, 64, 73);
    transition: all 0.2s;
}

.musicVid{
    position: fixed;
    bottom: 75px;
    right: 30px;
    z-index: 3;
}

.musicVid video{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 15px;
    width: 720px;
}

@media screen and (max-width: 1300px) {
    .musicVid video{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border-radius: 15px;
        width: 550px;
    }

    .songInfo{
        width: 380px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .songTitle{
        padding-top: 40px;
        font-size: 50px;
        font-weight: bold;
    }

    .Lyrics{
        justify-content: center;
    }

    .LyricsMain p:hover{
        font-size: 21px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        background-color: rgb(206, 64, 73);
        transition: all 0.2s;
    }
}

@media screen and (max-width: 1010px) {
    .musicVid{
        bottom: 20px;
    }

    .musicVid video{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border-radius: 15px;
        width: 360px;
    }

    .songInfo{
        width: 900px;
        min-width: 450px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .songTitle{
        padding-top: 5px;
        font-size: 40px;
        font-weight: bold;
    }

    .songArtist{
        padding-left: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .imageContainer img{
        width: 350px;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 20px;
    }

    .moreSongInfo{
        visibility: hidden;
    }

    .Lyrics{
        color: white;
        justify-content: center;
        min-width: 500px;
        margin-bottom: 150px;
    }

    .LyricsMain p:hover{
        font-size: 21px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        background-color: rgb(206, 64, 73);
        transition: all 0.2s;
    }
}

@media screen and (max-width: 400px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 270px;
    }

    .imageContainer{
        margin-top: 80px;
    }

    .imageContainer img{
        height: 170px;
        object-fit: cover;
    }

    .songTitle{
        margin: auto;
        font-size: 40px;
        font-weight: bold;
    }

    .songArtist{
        margin: auto;
        font-size: 19px;
        padding-bottom: 10px;
    }
    
    .musicVid{
        position: fixed;
        bottom: 20px;
        z-index: 3;
    }

    .musicVid video{
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border-radius: 15px;
        width: 400px;
    }

    main{
        margin-top: 275px;
    }

    .Lyrics{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 650px;
    }

    .LyricsMain{
        row-gap: 14px;
        padding-bottom: 90px;
        width: 550px;
        align-items: center;
        font-size: 22px;
        text-align: center;
    }

    .LyricsMain p{
        margin-left: 20px;
        margin-right: 20px;
    }

    .LyricsMain p:hover{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        background-color: rgb(206, 64, 73);
        transition: all 0.2s;
    }
}
